extends layout

block content
  h1 Palindrome Checker
  form(method="POST" action="/")
    label(for="userText") Enter your text here:
    br
    input(type="text" id="userText" name="userText" value=`${phrase}`)
    br
    br
    button(type="submit") Submit
  if message
    p=message
  h3 taco Cat is a palindrome.
  h3 United States is not a palindrome.
  h4 A palindrome is a word that can we rewritten backwards and still be the same word.
